{% extends 'base_dashboard.html' %}

{% block title %}Lista de Productos - Vivero Andalucía{% endblock %}

{% block content %}
<h1 class="text-center">Lista de Productos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.tipo }}</td>
            <td>${{ producto.precio }}</td>
            <td>
                {% if user.is_superuser %}
                <a href="/editar/{{ producto.id }}" class="btn btn-sm btn-primary">Editar</a>
                <a href="/eliminar/{{ producto.id }}" class="btn btn-sm btn-danger">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/crear" class="btn btn-success mt-4">Agregar Producto</a>
{% endblock %}
